[submodule "LuaJIT"]
	path = luajit/src
	url = https://github.com/LuaJIT/LuaJIT
	shallow = true
[submodule "llvm"]
	path = llvm/src
	url = https://github.com/llvm/llvm-project
	shallow = true
[submodule "notcurses/src"]
	path = notcurses/src
	url = https://github.com/dankamongmen/notcurses
    shallow = true