.direnv
llvm/build
.cache/
luajit/lib/
luajit/include/
temp/
lakeuser.lua
experimental/events/build/
notcurses/build/
elua/build/
luajit/obj/
lamu/build/
iro/build/
tmp/
luajit/build/
llvm/llvm_build/
lpp/build/
user.lua
bin/liblppclang.so
**/upload_pw.txt

web/localtestserv/

.vs/

.vscode/

compile_commands.json

bin/

CppProperties.json
*.rdbg
shaderc/
build.log

lppls/build/

luals.log/

cgo/

experimental/lamu/build/
