[submodule "LuaJIT"]
	path = luajit/src
	url = https://github.com/LuaJIT/LuaJIT
	shallow = true
[submodule "notcurses/src"]
	path = notcurses/src
	url = https://github.com/dankamongmen/notcurses
    shallow = true
[submodule "llvm/src"]
	path = llvm/src
	url = https://github.com/agudbrand/llvm-project
